body{
	margin:0;
	background-color: #009688;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}
.quiz-container{
	max-width: 700px;
	min-height: 300px;
	background-color: #ffffff;
	margin: 30px auto;
	border-radius: 10px;
	padding: 30px;
	margin-top: 70px;
}

.quiz-container h1{
	color: #009688;
	text-align: center;
}

.quiz-container::after, .quiz-container::before{
	content: "";
	clear: both;
	display: table;
}


.question-number h3{
	color: #009688;
	border-bottom: 1px solid #ccc;
	margin:0;
	padding-bottom: 10px;
}

.question{
	font-size: 22px;
	color: #000000;
	padding: 15px 0;
	margin-bottom: 10px;
}

.options div{
	background-color: #cccccc;
	font-size: 16px;
	color:#000000;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 15px;
	overflow: hidden;
	cursor: pointer;

}

.options div.disabled{
	pointer-events: none;
}

 .options div.normal{
	z-index: 1;
	color:#ffff
} 
.options div.normal::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: green;
	z-index: -1;
	transform: translate(-100%);
	animation: animateBackground 1s ease;
	animation-fill-mode: forwards;
}

@keyframes animateBackground{
	0%{transform: translate(-100%);
}
100%{transform: translate(0%)

}
}

.options div.danger{
	z-index: 1;
	color:#ffff
} 
.options div.danger::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	z-index: -1;
	transform: translate(-100%);
	animation: animateBackground 1s ease;
	animation-fill-mode: forwards;
}

@keyframes animateBackground{
	0%{transform: translate(-100%);
}
100%{transform: translate(0%)

}
}

button{
	padding:12px 50px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #009688;
	font-size: 18px;
	color: #ffffff;
	border: none;
	display: inline-block;
	margin: 15px 0;
}
.answers-tracker{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.answers-tracker div{
	height: 40px;
	width: 40px;
	background-color: #cccccc;
	display: inline-block;
	border-radius: 50%;
	margin:5px;

}


